.content{




  &-top{
    max-width: 100%;
    background-color: black;
    //height: 60px;
  }

  &-center{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
  }

}